{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<title>JohnDeere</title>
  	<link rel="stylesheet" href="{% static 'css/123.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
  </head>
  <body>
    


    <div class="container">
      <div class="heading">
                <nav class="navbar navbar-expand-sm navbar-dark">
                        <!-- Brand/logo -->
                        <a class="navbar-brand" href="https://ignite-iot.herokuapp.com/ignite/">JOHN DEERE BIN TRACKING SYSTEM</a>
                        
                        <!-- Links -->
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link" href="https://ignite-iot.herokuapp.com/admin/restaurant/assembly/">DATABASE</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://ignite-iot.herokuapp.com/apiapi/">API</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="https://ignite-iot.herokuapp.com/admin/">ADMIN</a>
                          </li>
                          <li class="nav-item">
                                <a class="nav-link" href="https://ignite-iot.herokuapp.com/login/">LOGIN</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="https://ignite-iot.herokuapp.com/ignite2/">IGNIT2</a>
                        </li>
                        </ul>
                      </nav>
                
            </div>
      <!--------------------------------->
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="{%static 'images/tractor.png'%}">
            <h3>SCREW ASSEMBLY AREA</h1>
            
          </div>
          
        </div>
        <div class="face face2">
          <div class="content">
            
            <table>
              <caption>---------------------------</caption>
              <caption>Bin No: {{bins}}</caption>
                <tr>
                    <th>Bin</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>
                    {% if LatestDate == date1 %}
                    <div class="Green"> 
                        {{b1}}
                        </div>
                    {% else %} 
                        {{b1}}
                    
                    {% endif %} 
                    </td>
                    <td>{{d1}}</td>
                    <td>{{t1}}</td>
                </tr>
                <tr>
                    <td>
                        {% if LatestDate == date2 %}
                        <div class="Green"> 
                            {{b2}}
                        </div>
                        {% else %} 
                            {{b2}}
                        {% endif %} 
                    </td>
                    <td>{{d2}}</td>
                    <td>{{t2}}</td>
                </tr>
                <tr>
                    <td>
                        {% if LatestDate == date3 %}
                            <div class="Green"> 
                                {{b3}}
                            </div>
                        {% else %} 
                            {{b3}}
                                       
                        {% endif %} 
                            
                    </td>
                    <td>{{d3}}</td>
                    <td>{{t3}}</td>
                </tr>
                <tr>
                    <td>               
                        {% if LatestDate == date4 %}
                            <div class="Green"> 
                                {{b4}}
                            </div>
                        {% else %} 
                            {{b4}}
                        {% endif %} 
                    </td>
                    <td>{{d4}}</td>
                    <td>{{t4}}</td>
                </tr>
              </table>
            

          </div>
          
        </div>
        <div class="face face3">
          
        </div>
        
      </div>
  <!--------------------------------->
      <div class="card">
            <div class="face face1">
              <div class="content">
                    <img src="{%static 'images/trucking.png'%}">
                <h3>HOPER ASSEMBLY AREA</h1>
                
              </div>
              
            </div>
            <div class="face face2">
              <div class="content">
              
               <table>
                  <caption>---------------------------</caption>
                  <caption>Bin No: --</caption>
                    <tr>
                            <th>Bin</th>
                            <th>Date</th>
                            <th>Time</th>
                    </tr>
                    <tr>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  <tr>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  </table>
                
    
              </div>
              
            </div>
            <div class="face face3">
              
            </div>
            
          </div>
    


      <!--------------------------------->

      <div class="card">
        <div class="face face1">
          <div class="content">
                <img src="{%static 'images/robot.png'%}">
            <h3>PRE-FABRICATION AREA </h1>
            
          </div>
          
        </div>
        <div class="face face2">
          <div class="content">
            
            <table>
              <caption>---------------------------</caption>
              <caption>Bin No: --</caption>
                <tr>
                        <th>Bin</th>
                        <th>Date</th>
                        <th>Time</th>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
                <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                </tr>
              <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
              </table>
            

          </div>
          
        </div>
        <div class="face face3">
          
        </div>
        
      </div>


    </div>


 
 </div>





  	
  </body>